{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static "css/styles.css" %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <h2>Это главная страница</h2>
    <ul>
        <li><a href="news.html">Новости города</a></li>
        <li><a href="goverment.html">Руководство города</a></li>
        <li><a href="facts.html">Факты о городе</a></li>
        <li><a href="contacts.html">Контактные телефоны городских служб</a></li>
        <li><a href="history.html">История</a></li>
    </ul>
</body>
</html>